bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1781002021020/work
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1756883577167/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1781719850827/work/certifi
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1768510772534/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1783085363/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cloudpickle_1765303462/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_contourpy_1769155975/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1771855685178/work
dask @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dask-core_1781221472/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_distributed_1781563082/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1776708057478/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1781615776425/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1779714582/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067041/work
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_lz4_1765026393/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1772444934960/work
matplotlib==3.10.9
msgpack @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_msgpack-python_1782460776/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1782924928/work
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_netcdf4_1774640065/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1773839224/work/dist/numpy-2.4.3-cp311-cp311-linux_x86_64.whl#sha256=07ce628021dfd427015f36c6497941b9d6af20263c7e5caa4d6afa89b83686a6
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1776209387/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pandas_1774916583/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1775060059/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1769678156/work
pyarrow @ file:///home/conda/feedstock_root/build_artifacts/apache-arrow_1776927601180/work/python
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyproj_1773003210/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1764355200360/work
PySide6==6.11.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1762523551157/work
shiboken6==6.11.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tblib_1762956379/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1760707739667/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1774357898264/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908962415/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1772794659228/work
wrf-python @ file:///home/conda/feedstock_root/build_artifacts/wrf-python_1771438241358/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_xarray_1776122774/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1774899962131/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1733261551178/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1779159948/work
